

div {
    padding: 50px 0px;
	background: linear-gradient(45deg, rgb(252, 228, 252), rgb(218, 228, 255));
    height: 100vh;
}

mat-toolbar {
	display: flex;
	align-items: center;
	padding: 0 20px;
	position: absolute;
	top: 0px
}

mat-toolbar p {
	flex-grow: 1;
	margin: 0;
}